body {
    background: linear-gradient(135deg, #222, #444);
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 150px;
    transform: scale(1.2);
}

h1, h2 {
    font-family: sans-serif;
    color: #fff;
}

p {
    font-family: sans-serif;
    color: #ccc;
    margin-bottom: 20px;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

input[type="text"] {
    padding: 10px;
    font-family: monospace;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 600px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s;
}

.boxes-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.box {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    perspective: 1000px;
}

.box-contents {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3c3c3c;
    color: #fff;
    border: 2px solid #222;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    transition: transform 0.5s ease;
}

.hover-point {
    position: absolute;
    width: calc(100% / 3);
    height: calc(100% / 3);
    opacity: 0;
}

.hover-point:nth-child(1) { top: 0; left: 0; }
.hover-point:nth-child(2) { top: 0; left: calc(100% / 3); }
.hover-point:nth-child(3) { top: 0; right: 0; }
.hover-point:nth-child(4) { top: calc(100% / 3); left: 0; }
.hover-point:nth-child(5) { top: calc(100% / 3); right: 0; }
.hover-point:nth-child(6) { bottom: 0; left: 0; }
.hover-point:nth-child(7) { bottom: 0; left: calc(100% / 3); }
.hover-point:nth-child(8) { bottom: 0; right: 0; }
